.no-padding>[class *='col-'] {/* NO PADDING SUR LES COL- CONFIG DE BOOTS */
    padding-right: 0;
    padding-left: 0;
}

* {/* LISTE A PUCES NONE SUR TT LES ELEM */

    list-style: none;
}

body {/* SIZE DU BODY */

    font-size: 20px;

}

p {/* SIZE TEXTE + TOUS LES P */
    margin-bottom: 0;
    font-size: 20px;
}

.data { /* GRAS LA LISTE DES CONTACT/LEFT */
    padding-bottom: 10px;
    font-weight: bold;
}

.row {/* BOOTSTRAP CONFIG ROW */
    margin-left: 0;
    margin-right: 0;
}

.onglets {/*COLOR contact-a propos-loisirs */
    
    color: #FECA07;
}

.icon {/* ICON DES SECTIONS */
    padding-right: 5%;
  
    color: #FECA07;
   
}

.sections {/* SECTIONS FORMA+EXPE+RECOM */
    padding-bottom: 8px;
    margin-left: 5%;
    width: 100%;


}

.resume .resume_left {/* dans la page , le menu gauche */
    

    /* prend toujours largeur de 50% */
    background: #FECA07;
    display: flex;
    flex-flow: column;
}

.left-menu-photo { /* content de l'avatar */
   
    text-align: center;
    /* center avatar */

}

.avatar { /* photos */
   
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 5%;
    border: 4px solid #cda411;
}

.resume .title {/* box contenant le tittle LESCURELOUIS + border bottom/ ici juste l'espace sous la border */
    
    margin-bottom: 40px;
    /* margin de 40px sous la border */
}

.aboutme {/* SECTIONS */
    background-color: #404040;
    padding: 10px;
    text-align: center;

}

.textaboutme {/* TEXTE A PROPOS */
    background-color: #FECA07;
    padding: 20px;
}
.resume .resume_left ul li {/*MENU GAUCHE ESPACE ENTRE LES CONTACT */
    
    margin-bottom: 10px;
   
}
.resume .resume_item {/* MENU DROITE CSS/ROW SECTIONS+ICONS/PADDING+BORDER */
    padding-top: 143px;/* ESPACE ENTRE CHAQUE SECTIONS */
    border-bottom: 3px solid #FECA07;/* SEPARATORS EN BORDER BOTTOM */
}

.contactlist {/* LIST DES CONTACTS */
    padding: 40px;
}





.resume .resume_right ul li { /* PETIT POINT DEVANT DATE */
    position: relative;/* POSITION IN THE CONTENT+ALIGN */
    padding-left: 15px;
}


.text {/* text lorem pour à propos de  */
    
    padding: 40px;
    /* norme de 40px pour padding autour texte dans menu-left */
    text-align: justify;
    /* text aligner dans le container ou plutot bien carré */
   
}

.resume_hobby > ul {/* icons loisirs  */
    
    display: flex;/* ALIGNER HORIZONTAL */
    /* icons puissent ce déplacer dans la box */
    justify-content: space-between;
    /* espace entre les icons */
    padding: 0;
    
}
.resume_hobby {
    width: 100%;
}



.content {
    width: 100%;
}

.col-sm-4 {/* TOUTE COLONNE DE 4  */
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm-6 {/* x2 RECOMMANDATIONS */
    padding-left: 0px;
    padding-right: 0px;
}

.content2 {/* ESCPACE ENTRE CHAQUE SECTIONS+DATES+ICONS  */
    padding-bottom: 30px;
}

.sous_titre {/* ESPACE ENTRE MINI TEXTE ET SOUS TITRES */
    padding-bottom: 10px;
    ;
}

h1 {/* TAILLE DU H1 */
    font-size: 67px;

}

.underline {/* SOULIGNE "Dévelo" */
    border-bottom: 3px solid #FECA07;
}

.date {/* DATES EN GRAS */
    font-weight: bold;
}

h2 {/* TOUS LES H2 */
    font-weight: bold;
}

.libel {/* COLORS GRAY SOUS TITRES */
    font-size: 30px;
    color: #404040;
}

.fa-ul {
    list-style-type: none;
    margin-left: 30px;
    padding-left: 0;
}

.fa-dot-circle:before {
    content: "\f192";
    font-size: 26px;
    color: #FECA07;
   
}


.fa-li {
    content: "\f111";
    font-size: 11px;
    color: #FECA07;
    
    padding-right: 50px;
}

.resume .resume_right {
    width: 100%;
    background-color: #fff;
    padding-top: 96px;
    

}
@media screen and (min-width: 768px) {
    .resume .resume_right{/* CSS DE LA PAGE PRINCIPALE */
        
        
        padding: 55px;
       
    }
}

@media screen and (max-width: 768px) {
    .resume .resume_right{/* CSS DE LA PAGE PRINCIPALE */
        
        
        padding: 10px;
       
    }
}